.right {
    float: right;
    padding-top: 20px;
    padding-right: 10px;
}
#topbar {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    background-color: #ccc;
    height: 75px;
    z-index: 10;
}
#tweet {
    padding-top: 23px;
}
h1 {
    color: #eee;
    font-size:60px;
    font-variant:small-caps;
    font-family:Helvetica, Arial, sans-serif;
    padding-left: 20px;
    float: left;
}
#loadText {
    color: #000;
    width: 200px;
    text-align: center;
    font-size:24px;
    font-variant:small-caps;
    font-family:Helvetica, Arial, sans-serif;
    display: none;
    position: absolute;
    top: 250px;
    left: 45.5%;
}
#something {
    list-style-type: none;
}
#photos {
   /* Prevent vertical gaps */
   line-height: 0;topBar
   display: none;
   width: 100%;
   -webkit-column-count: 5;
   -webkit-column-gap:   0px;
   -moz-column-count:    5;
   -moz-column-gap:      0px;
   column-count:         5;
   column-gap:           0px;
}
#loginButton {
    width: 200px;
    text-align: left;
    position: absolute;
    top: 200px;
    left: 50%;
    margin-left: -70px;
}
#loadingSpinner {
    width: 300px;
    text-align: left;
    position: absolute;
    top: 200px;
    left: 50%;
    display: none;
}
#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}

@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}

@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}
