* { margin: 0; padding: 0; }

.right {
    float: right;
    padding-top: 20px;
    padding-right: 10px;
}
#tweet {
    padding-top: 23px;
}
h1 {
    color: #eee;
    font-size:60px;
    font-variant:small-caps;
    font-family: 'Lobster', cursive;
    padding-left: 20px;
    float: left;
    text-shadow: black 1px 1px 1px;
}
#loadText {
    color: #000;
    width: 200px;
    text-align: center;
    font-size:24px;
    font-variant:small-caps;
    font-family:Helvetica, Arial, sans-serif;
    display: none;
    position: absolute;
    top: 250px;
    left: 45.5%;
}
#constant {
    position: fixed;
    width: 100%;
    background-color: #ccc;
    height: 75px;
}
#something {
    list-style-type: none;
}
#photos {
   /* Prevent vertical gaps */
   line-height: 0;topBar
   display: none;
   width: 100%;
   -webkit-column-count: 5;
   -webkit-column-gap:   0px;
   -moz-column-count:    5;
   -moz-column-gap:      0px;
   column-count:         5;
   column-gap:           0px;
}
#loginButton {
    width: 200px;
    text-align: left;
    position: absolute;
    top: 200px;
    left: 50%;
    margin-left: -70px;
}
#loadingSpinner {
    width: 300px;
    text-align: left;
    position: absolute;
    top: 200px;
    left: 50%;
    display: none;
}
#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}

@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}

@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}
/* this is the slideout styling*/
#myAlbums {
    top: 130px;
    left: 0px;   
}
#albumLabel {
    margin-top: 10px;
}
#profiles {
    top: 281px;
    left: 0px;
}
#profileLabel {
    margin-top: 12px;
}
#filter {
    top: 432px;
    left: 0px;
}
#filterLabel {
    margin-top: 27px;
}
.slideContainer {
    height: 131px;
    width: 657px;  
    position: fixed;  
    margin-left: -602px;
}
.slideBackward {
    float: left;
    height: 131px;
    width: 55px;
    background-color: #ccc;
    overflow: hidden;
}
.slideArrowCenter {
    margin-top: 38px;
    width: 53px;
    height: 53px;
    padding: 1px;
}
.slideContent {
    float: left;
    width: 492px;
    height: 131px;
    overflow: hidden;
    background-color: #ccc;
}
.slideContentHelper {
    float: left;
    position: relative;
    width: 9999px;
    height: 131px;
}
.slideContentItem {
    float: left;
    width: 144px;
    height: 111px;
    padding: 10px;
    background-color: #ccc;
}
.slideForward {
    float: left;
    height: 131px;
    width: 55px;
    background-color: #ccc;
    overflow: hidden;
}
.slideLabel {
    float: left;
    height: 131px;
    width: 55px;    
    cursor: pointer;
    background-color: #ccc;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    -moz-border-radius-bottomright:  20px;
    -moz-border-radius-topright:  20px;
    -webkit-border-bottom-right-radius: 20px;
    -webkit-border-top-right-radius: 20px;
}
/* stuff for filter controls */
input {
	width: 100%;
	float: left;
	margin-top: 5px;
	font-family: 'Droid Sans', sans-serif;
	font-weight: 700;
	color: #222;
}
select {
	width: 100%;
	float: left;
	margin-top: 5px;
	font-family: 'Droid Sans', sans-serif;
	font-weight: 700;
	color: #222;
}
h4 {
	color: #eee;
    font-size:32px;
    margin-top: -15px;
    margin-bottom: 0px;
    padding-top: 0px;
    font-variant:small-caps;
    font-family: 'Lobster', cursive;
    float: left;
    text-shadow: black 1px 1px 1px;
    width: 100%;
    border-bottom: 1px solid white;
}

