* { margin: 0; padding: 0; }

.right {
    float: right;
    padding-top: 20px;
    padding-right: 10px;
}
#tweet {
    padding-top: 23px;
}
h1 {
    color: #eee;
    font-size:60px;
    font-variant:small-caps;
    font-family: 'Lobster', cursive;
    padding-left: 20px;
    float: left;
    text-shadow: black 1px 1px 1px;
}
#loadText {
    color: #000;
    width: 200px;
    text-align: center;
    font-size:24px;
    font-variant:small-caps;
    font-family:Helvetica, Arial, sans-serif;
    display: none;
    position: absolute;
    top: 250px;
    left: 45.5%;
}
#constant {
    position: fixed;
    width: 100%;
    background-color: #ccc;
    height: 75px;
}
#infobar {
    position: fixed;
    top: 100%;
    margin-top: -35px;
    width: 100%;
    height: 225px;
}
#infoHideDiv {
    float: left;
    width: 100%;
    height: 35px;
}
#infoHideDivRight {
    float: left;
    width: 90%;
    height: 35px;
}
#infoHideDivButton {
    float: left;
    width: 5%;
    height: 35px;
    background-color: #ccc;
    font-family: 'Lobster', cursive;
    font-size: 20px;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    -moz-border-radius-topleft:  20px;
    -moz-border-radius-topright:  20px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
}
#infoHideDivButtonText {
    padding-top: 5px;
}
#infoHideDivLeft {
    float: left;
    width: 5%;
    height: 35px;
}
#infoContent {
    float: left;
    width: 100%;
    height: 190px;
    background-color: #ccc;
    font-size: 14px;
    font-family: 'Droid Sans', sans-serif;
}
#suserimg {
    float: left;
    width: 8%;
    background-color: #333;
    border-radius: 20px;
    -moz-border-topleft:  20px;
    -webkit-border-radius: 20px;
    padding: 2%;
}
#centering {
    margin:0px auto;
    text-align: center;
    width: 50px;
    height: 50px;
}
#pPicture {
    -moz-box-shadow: 2px 2px 2px #000;
    -webkit-box-shadow: 2px 2px 2px #000;
    box-shadow: 2px 2px 2px #000;
    width: 50px;
    height: 50px;
}
#pName {
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 24px;
    text-shadow: black 1px 1px 1px;
    color: #eee;
}
table {
    float: left;
    padding-top: 5px;
    width: 90%;
}
th {
    font-weight: 400;
    text-align: left;
    text-decoration:underline;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}
tr {
    padding-left: 5px;
}
td {
    padding-top: 0px;
    padding-right: 2px;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    font-weight: 700;
}

#something {
    list-style-type: none;
}
#photos {
   /* Prevent vertical gaps */
   line-height: 0;topBar
   display: none;
   width: 100%;
   -webkit-column-count: 5;
   -webkit-column-gap:   0px;
   -moz-column-count:    5;
   -moz-column-gap:      0px;
   column-count:         5;
   column-gap:           0px;
}
#loginButton {
    width: 200px;
    text-align: left;
    position: absolute;
    top: 200px;
    left: 50%;
    margin-left: -70px;
}
#loadingSpinner {
    width: 300px;
    text-align: left;
    position: absolute;
    top: 200px;
    left: 50%;
    display: none;
}
#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}

@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}

@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}
